<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- AWS Credentials -->
    <add key="AWSSecretKey" value="YOUR KEYS HERE"/>
    <add key="AWSAccessKey" value="YOUR KEYS HERE"/>
  </appSettings>
</configuration>
